# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor Folders
.idea
.vscode

# Unit test / coverage reports
htmlcov/
.coverage
.cache/

# Build

_build
docs/.buildinfo
docs/*.inv
docs/_sources
installer/bundle/
installer/editor/
installer/temp/
installer/linux/*.run
installer/windows/*.exe
installer/windows/*.nsh