# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor Folders
.idea
.vscode

# Unit test / coverage reports
htmlcov/
.coverage
.cache/

# Build
installer/bundle/
_build
docs/generated
installer/windows/*.exe
installer/windows/*.nsh