bitarray==3.5.2
cython==3.0.12
h5py==3.13.0
jsbeautifier==1.15.4
jsonschema==4.24.1
matplotlib==3.9.4
NLopt==2.8.0
numpy==2.2.6
gimpact==1.0.2
PyInstaller==6.11.1
PyOpenGL==3.1.9
PyQt6==6.6.1
PyQt6-Qt6==6.6.3
pystache==0.6.7
PyQt6-QScintilla==2.14.1
scipy==1.15.3
tifffile==2025.5.24
psutil==7.0.0
