bitarray==2.6.2
cython==0.29.33
h5py==3.7.0
jsbeautifier==1.14.7
jsonschema==4.16.0
matplotlib==3.6.3
NLopt==2.7.1
numpy==1.23.5
gimpact==0.1.0
Pillow==9.2.0
PyInstaller==5.7.0
PyOpenGL==3.1.6
PyQt5==5.15.6
pystache==0.6.0
QScintilla==2.13.2
scipy==1.9.3
tifffile==2022.10.10
psutil==5.9.4