name: Build

on:  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Run unit-tests (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install xvfb libqt5x11extras5 libgl1-mesa-glx '^libxcb.*-dev'
        xvfb-run --auto-servernum python make.py --build-all
    - name: Run unit-tests (Windows)
      if: runner.os == 'Windows'
      run: |
        powershell .\3rdparty\install_opengl.ps1
        python make.py --build-all
    - name: Run unit-tests (Mac OS)
      if: runner.os == 'macOS'
      run: |
        python make.py --build-all
    - name: Upload coverage files
      uses: actions/upload-artifact@v3
      with:
        name: coverage (${{ runner.os }})
        path: htmlcov
    - name: Upload executable
      uses: actions/upload-artifact@v3
      with:
        name: dist (${{ runner.os }})
        path: installer/bundle